<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{currentFocus}}!
  </h1>
</div>
<form>
  Enter the name of the Keg <input #kegName>
  <br>
  Enter the name of the Beer brand <input #beerBrand>
  <br>
  Enter the price <input #kegPrice>
  <br>
  Enter the Alcohol Content<input #alcoholContent>
  <br>
  <button (click) = "createKeg(kegName.value, beerBrand.value, kegPrice.value, alcoholContent.value)">Add New Keg!</button>








  <!-- <label>Enter keg name: </label> -->

  <!-- <input [(ngModel)]="kegName" type="text" name="kegName">
  <label>Enter beer brand: </label>
  <input [(ngModel)]="beerBrand" type="text" name="beerBrand">
  <label>Enter price: </label>
  <input [(ngModel)]="price" type="text" name="price">
  <label>Enter alcohol content: </label>
  <input [(ngModel)]="alcoholContent" type="text" name="alcoholContent">
  <button (click)="createKeg(kegName, beerBrand, price, alcoholContent)">submit!</button> -->
</form>
<ul>
    <li *ngFor="let currentKeg of kegs"> Keg Name {{currentKeg.name}}</li>
    <li *ngFor="let currentKeg of kegs"> Brand {{currentKeg.brand}}</li>
    <li *ngFor="let currentKeg of kegs"> Price{{currentKeg.price}}</li>
    <li *ngFor="let currentKeg of kegs"> Alcohol Content{{currentKeg.alcoholContent}}</li>
</ul>


