<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{currentFocus}}!
  </h1>
<form>
  Enter the name of the Keg <input #kegName>
  <br>
  Enter the name of the Beer brand <input #beerBrand>
  <br>
  Enter the price <input #kegPrice type="number">
  <br>
  Enter the Alcohol Content<input #alcoholContent type="number">
  <br>
  <button (click) = "createKeg(kegName.value, beerBrand.value, kegPrice.value, alcoholContent.value)">Add New Keg!</button>
</form>
<br>
<ul>
  <li *ngFor="let currentKeg of kegs">
    <br>Keg name: {{currentKeg.name}}
    <br>brand: {{currentKeg.brand}} 
    <br><span [class]="kegPriceColor(currentKeg)">price: {{currentKeg.price}}$</span>
    <br><span [class]="kegAlcoholColor(currentKeg)"> content: {{currentKeg.alcoholContent}} % </span>
    <br><span [class]="kegAmountColor(currentKeg)">amount in keg: {{currentKeg.kegAmount}} pints</span>
    <br><button (click)="getABeer(currentKeg)">get a beer!</button><br>
    <br>edit keg name: <input type="text" [(ngModel)]="currentKeg.name">
    <br>edit beer brand: <input type="text" [(ngModel)]="currentKeg.brand">
    <br>edit price: <input type="number" [(ngModel)]="currentKeg.price">
    <br>edit alcoholic content: <input type="number" [(ngModel)]="currentKeg.alcoholContent">
  </li>
</ul>
</div>






